csharp-classes
csharp-arrays_lists_dictionaries
csharp-exceptions/                      
csharp-hashset_stack_queue_linkedlist/  
csharp-hello_world/              
csharp-ifelse_loops_methods/ 
csharp-structs_enums/
global.json
holbertonschool-csharp.sln
dotnet
.vscode
bin/
obj/

csharp-tdd/script.sh
.vs/ProjectSettings.json
image_processor/.vs/image_processor/DesignTimeBuild/.dtbcache.v2
image_processor/.vs/image_processor/FileContentIndex/232d954f-3d55-44a7-b68f-42ec1d13244e.vsidx
image_processor/.vs/image_processor/FileContentIndex/307e8e5f-38d6-4d98-b7fd-18055268ea9d.vsidx
image_processor/.vs/image_processor/FileContentIndex/394773e6-e1bf-4272-9451-1709c33f8b16.vsidx
image_processor/.vs/image_processor/FileContentIndex/45666300-450f-4e1e-80b0-08a41ad545d4.vsidx
image_processor/.vs/image_processor/FileContentIndex/d59004f6-113a-4625-a2e1-a7826d9d54ee.vsidx
.vs/slnx.sqlite
script.sh
image_processor/image_processor.sln
image_processor/image_processor.csproj
image_processor/.vs/image_processor/v17/.suo
.vs/holbertonschool-csharp/FileContentIndex/91ea4d85-a824-4118-8776-fcdb948f8ac1.vsidx
.vs/holbertonschool-csharp/v17/.suo
.vs/holbertonschool-csharp/v17/.wsuo
csharp-generics/.vs/csharp-generics/FileContentIndex/004c114b-2e13-4d14-ba35-5752b92ad497.vsidx
csharp-generics/.vs/csharp-generics/FileContentIndex/691620e7-2186-4533-8554-419d6ae100d9.vsidx
.vs/VSWorkspaceState.json
csharp-generics/.vs/csharp-generics/v17/.wsuo
csharp-generics/.vs/slnx.sqlite
csharp-generics/.vs/VSWorkspaceState.json
csharp-generics/0-queue/.vs/0-queue/FileContentIndex/49753693-994b-4ad1-8127-553325132c95.vsidx
csharp-generics/0-queue/.vs/0-queue/FileContentIndex/f97891bb-a053-4a3d-be58-d7742b6283ff.vsidx
csharp-generics/0-queue/.vs/0-queue/v17/.suo
csharp-generics/0-queue/.vs/0-queue/v17/.wsuo
csharp-generics/0-queue/UpgradeLog.htm
image_processor/.vs/image_processor/v17/.futdcache.v2
image_processor/.vs/ProjectEvaluation/image_processor.metadata.v7.bin
image_processor/.vs/ProjectEvaluation/image_processor.projects.v7.bin
UpgradeLog.htm
csharp-generics/0-queue/.vs/0-queue/FileContentIndex/837bb2ec-ad96-4749-91be-ee1a0c319934.vsidx
*.vsidx
*.sqlite-journal
csharp-generics/0-queuee/queue.cs
csharp-generics/0-queuee/0-queue.sln
csharp-generics/0-queuee/0-queue.csproj
csharp-generics/0-queuee/.vs/0-queue/v17/.wsuo
csharp-generics/0-queuee/.vs/0-queue/v17/.suo
csharp-generics/1-enqueue/.vs/0-queue/v17/.wsuo
csharp-generics/1-enqueue/.vs/0-queue/v17/.suo
csharp-linear_algebra/6-vector_addition/main.cs
csharp-linear_algebra/18-matrix_matrix_mul/main.cs
csharp-linear_algebra/16-matrix_scalar_mul/main.cs
csharp-linear_algebra/12-dot_product/main.cs
csharp-interfaces/0-abstract_thinking/main.cs
image_processor/main.cs
csharp-generics/0-queue/0-main.cs
csharp-generics/1-enqueue/0-main.cs
csharp-generics/2-dequeue/main.cs
csharp-generics/3-peek/main.cs
csharp-generics/4-print/main.cs
csharp-inheritance/0-is/0-main.cs
csharp-inheritance/1-instance/main.cs
csharp-inheritance/2-subclass/main.cs
csharp-inheritance/3-type_get/main.cs
csharp-inheritance/4-inherit/main.cs
csharp-inheritance/5-shape/main.cs
csharp-inheritance/6-shape/main.cs
csharp-inheritance/7-shape/main.cs
csharp-inheritance/8-shape/main.cs
csharp-interfaces/0-abstract_thinking/.vs/0-abstract_thinking/v17/.suo
csharp-interfaces/0-abstract_thinking/0-abstract_thinking.sln
csharp-interfaces/1-user_interface/1-user_interface.cs
csharp-interfaces/2-doors/.vs/2-doors/v17/.suo
csharp-interfaces/2-doors/2-doors.sln
csharp-interfaces/1-user_interface/1-user_interface.cs
csharp-interfaces/3-decorations/.vs/3-decorations/v17/.suo
*.suo
*.sln
csharp-text_based_interface/.vs/csharp-text_based_interface/v17/.wsuo
csharp-text_based_interface/.vs/slnx.sqlite
